$-footer-bg-color = #252938
$-footer-text-color = #fff
$-footer-weak-color = mix($-header-text-color, $-header-bg-color, 30%)
$-footer-hover-color = mix($-header-text-color, $-header-bg-color, 70%)

.footer
    padding: 60px 0 30px
    margin: -155px auto 0
    font-size: 14px
    color: $-footer-text-color
    background-color: $-footer-bg-color
    bg: '../img/bg.png'
    background-size: cover

    .projects
        width: 820px
        margin: 50px auto
        text-align: left

        em
            font-style: normal
            font-weight: 700
        dl
            clearfix()

        dt
            float: left
            clear: left
            width: 60px
        dd
            float: left
            clear: right
            color: $-footer-weak-color

        a
            color: $-footer-text-color
        a:hover
            color: $-footer-hover-color

    .copyright
        color: $-footer-weak-color
        font-size: 12px

        a
            color: $-footer-weak-color
        a:hover
            color: $-footer-hover-color
