@require 'variable'

normalize()

font-face('PT Serif', '../font/pt-serif-regular-min')
font-face('Open Sans', '../font/open-sans-light')
font-face('Open Sans Condensed', '../font/open-sans-cond-light')

body
    text-align: center
    color: #373737
    background: #f3f4f5
    min-width: 1150px

a
    text-decoration: none

@require 'header'
@require 'section'
@require 'footer'

@require 'highlight.css'
