// Requires

@require 'variable'

// Variables

$-section-colors = {
    'saber': #354572,
    'rebas': #676767,
    'rider': #79110a
}

$-section-hr-color = #666

// Rules

.panel
    background-color: #fff
    box-shadow: 0.105px 1.997px 7px 0 rgba(#0a0204, .45)
    box-sizing: border-box
    padding: 75px 60px
    width: 1100px
    margin: -60px auto 95px
    position: relative
    z-index: 1

    .title
        margin: 0 0 30px
        padding-top: 146px
        init-vi-font()
        font-size: rem(34)

    .links
        margin-bottom: 20px
    .links a
        display: inline-block
        width: 80px
        border-radius: 2px
        line-height: 26px
        margin: _ 6px

    .desc
        margin: 30px 0
        color: #696969
        font-size: rem(21)

    hr
        border: none
        height: 1px
        background: linear-gradient(
            left,
            rgba($-section-hr-color, 0),
            rgba($-section-hr-color, .25),
            rgba($-section-hr-color, .3),
            rgba($-section-hr-color, .25),
            rgba($-section-hr-color, 0)
        )
        margin: 55px

    .subtitle
        margin: 0 0 25px
        font-weight: 300
        font-size: rem(24)

    .point
        margin: 70px 0
        display: flex
        justify-content: center

        .content,
        figure
            align-self: center
            margin: 0 60px
            width: 370px

        .content
            text-align: left
            h4
                margin: 0
                font-weight: 400
            p
                margin: 8px 0
                line-height: 1.5em
                color: #696969

    .point-focus,
    .point-community
        flex-direction: row-reverse

for $name in ('saber' 'rebas' 'rider')
    .panel-{$name}
        .title
            background: url('../img/' + $name + '.png') top center no-repeat
            background-size: 136px

        .links a
            color: $-section-colors[$name]
            border: 1px solid $-section-colors[$name]
            &:hover
                color: #fff
                background: $-section-colors[$name]
