// Requires

@require 'variable'

// Variables

$-section-colors = {
    'saber': #354572,
    'rebas': #676767,
    'rider': #79110a
}

$-section-hr-color = #666

// Rules

.panel
    background-color: #fff
    box-shadow: 0.105px 1.997px 7px 0 rgba(#0a0204, .45)
    box-sizing: border-box
    padding: 75px 60px
    width: 1100px
    margin: -60px auto 95px
    position: relative
    z-index: 1

    .title
        margin: 0 0 30px
        padding-top: 146px
        init-vi-font()
        font-size: rem(34)

    .links
        margin-bottom: 20px
    .links a
        display: inline-block
        width: 80px
        border-radius: 2px
        line-height: 26px
        margin: _ 6px

    .desc
        margin: 30px 0
        color: #696969
        font-size: rem(21)

    hr
        border: none
        height: 1px
        background: linear-gradient(
            left,
            rgba($-section-hr-color, 0),
            rgba($-section-hr-color, .25),
            rgba($-section-hr-color, .3),
            rgba($-section-hr-color, .25),
            rgba($-section-hr-color, 0)
        )
        margin: 55px

    .subtitle
        margin: 0 0 25px
        font-weight: 300
        font-size: rem(24)

    .content
        text-align: left
        h4
            margin: 0
            font-weight: 400
        p
            margin: 8px 0
            line-height: 1.5em
            color: #696969


    // points modular

    .points-modular
        .point
            margin: 70px 0
            display: flex
            justify-content: center

        .content,
        figure
            align-self: center
            margin: 0 60px
            width: 370px

    for $name, $index in ('focus' 'dependency' 'community')
        .point-{$name}
            flex-direction: row-reverse if ($index % 2) == 0
            figure
                $img-src = '../img/point-' + $name + '.png'
                ir: $img-src, center, center
                min-height: image-size($img-src)[1]


    // points spa

    .points-spa
        display: flex
        padding: 20px

        .point
            margin: 0 40px
            flex: 1 0
        figure
            margin: 20px 0

    for $name in ('api' 'smooth' 'mvp')
        .point-{$name}
            figure
                $img-src = '../img/point-' + $name + '.png'
                ir: $img-src
                size: image-size($img-src)


    .points-platform
        padding: 0 40px 0 47%
        bg: '../img/point-platform.png'
        background-position: 60px center

        .point
            margin: 40px _

// rebas
.panel-rebas
    for $name in ('isomorphic' 'deep-responsive')
        .point-{$name}
            $img-src = '../img/point-' + $name + '.png'
            bg: $img-src
            background-position: center 30px
            padding: _ 140px
            padding-top: image-size($img-src)[1] + 80px
            .content
                text-align: center

// rider
.panel-rider
    .point
        padding: _ 60px

    .content
        text-align: center

    .code-blocks
        text-align: left
        font-size: 12px
        line-height: 1.5em
        display: flex
        margin-bottom: 30px

    .item
        flex: 1
        border-box: box-sizing
        border-style: solid
        border-color: #f7f7f7
        border-width: 1px 1px 1px 0

        h4
            margin: 0
            padding: 6px _
            text-align: center
            font-size: 16px
            color: #44ade4
            background: #f7f7f7
            position: relative

            &:before
                font-size: 20px
                absolute: 5px _ _ -10px
                content: '→'
                color: #bbb

        &:first-child
            border-width: 1px
            h4:before
                content: ''
        h5
            margin: 10px 10px 3px
            font-weight: 300
            font-size: 13px
            &:after
                content: '：'
        pre
            margin: 0
            padding: 6px
// panel heading

for $name in ('saber' 'rebas' 'rider')
    .panel-{$name}
        .title
            bg: '../img/' + $name + '.png'
            background-position: top center

        a
            color: $-section-colors[$name]
            &:hover
                color: lighten($-section-colors[$name], 35%)
        .links a
            color: $-section-colors[$name]
            border: 1px solid $-section-colors[$name]
            transition: all .5s easing('out-circ')
            &:hover
                color: #fff
                background: $-section-colors[$name]
